@import url('https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
html,
body {
    height: 100%;
    font-size: 1em;
}

body {
    color: #121212;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
    line-height: 1.6;
    letter-spacing: 0.05em;
}

img {
    max-width: 100%;
    border: 0;
}

a:link,
a:visited {
    color: #D6402E;
    text-decoration: none;
    border-bottom: 1px solid #D6402E;
}

a:hover {
    color: #000;
    border-bottom: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Arima Madurai', cursive;
    color: #008C9D;
}

.btn {
    border: 1px solid #fff;
}

#nav-background {
    background-color: #F7FBFD;
}

#navigation {
    background-color: #F7FBFD;
    padding-bottom: 20px;
    text-transform: uppercase;
}

#nav {
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0;
    background-color: #F7FBFD;
    color: #333333;
}

.navbar {
    background-color: #fff;
    border: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #222;
    border-bottom: 0;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #008C9D;
    border-bottom: 0;
}

.navbar-default .navbar-nav>li>a.on {
    color: #008C9D;
    ;
    border-bottom: 0;
}

#logo {
    padding-right: 20px;
}


/* hero image */

#heroimage {
    color: #333;
    padding: 20px;
    text-align: center;
    padding: 80px 0;
}

#heroimage a:hover {
    border-bottom: none;
    text-decoration: none;
}

#blurb {
    margin: 0 auto;
    text-align: left;
}

h2.socials {
    font-size: 1.5em;
}


/* about me */

#aboutme {
    background-color: #eee;
    color: #333;
    padding: 20px 0;
}

#portrait {
    border: 5px solid #F7FBFD;
}

img.portrait {
    border-radius: 200px;
}

#socials ul li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#footer {
    padding: 20px 0;
    text-align: center;
    font-size: 0.85em;
}


/* projects page */

.project-img {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-item {
    margin-top: 30px;
}

h2.projects-heading {
    margin-top: 20px;
}

.project-blurb {
    padding-left: 30px;
}

#code-the-gong {
    background-image: url('../images/codethegong.png');
}

#photography {
    background-image: url('../images/boracay.jpg');
}

#writing {
    background-image: url('../images/medium.PNG');
}

span.now-subsection {
    font-family: 'Arima Madurai', cursive;
    color: #008C9D;
    font-size: 1.5em;
}


/* media queries overrides */


/********** Tablet Landscape **********/

@media only screen and (max-width: 1025px) and (orientation: landscape) {
    body {
        font-size: 1em;
    }
    img {
        width: 100%;
    }
}


/********** Tablet Portait  **********/

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    body {
        font-size: 1em;
    }
    img {
        width: 100%;
    }
    .project-img {
        height: 400px;
    }
}


/********** Phone Landscape  **********/

@media only screen and (max-width: 480px) and (orientation: landscape) {
    body {
        font-size: 1em;
    }
    img {
        width: 100%;
    }
    #blurb {
        width: 100%;
    }
}


/********** Phone Portait  **********/

@media only screen and (max-width: 480px) and (orientation: portrait) {
    body {
        font-size: 1em;
    }
    img {
        width: 100%;
    }
    #blurb {
        width: 100%;
    }
    .project-img {
        height: 200px;
    }
}